* {
    margin: 0;
    padding: 0;
    flex-direction: column;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    background-color: #000000;
}

.image-background {
    z-index: -1;
    width: 100%;
    position: absolute;
}

header {
    display: flex;
}

header>span {
    font-size: 3vw;
    padding-top: 5%;
    color: #ffffff;
    font-weight: 100;
    margin-bottom: 2%;
    align-self: center;
    word-spacing: 0.1vw;
}

main {
    display: flex;
    padding-top: 8%;
}

main>img {
    width: 50%;
    align-self: center;
}

main>h1 {
    width: 80%;
    margin-top: 15%;
    color: #ffffff;
    font-size: 6.5vw;
    line-height: 8vw;
    text-align: center;
    align-self: center;
    font-weight: bolder;
}

main>h1>.highlighted {
    color: #ed2c2c;
}

main>.button {
    border: none;
    display: flex;
    padding: 5.5% 8%;
    cursor: pointer;
    margin-top: 15%;
    color: #ffffff;
    align-self: center;
    border-radius: 35px;
    text-decoration: none;
    transition-duration: 0.1s;
    background-color: #ed2c2c;
    transition-timing-function: linear;
}

main>.button:hover {
    opacity: 0.8;
}

main>.button>span {
    font-size: 4vw;
    align-self: center;
}

main>.container-svg-scroll-bottom {
    display: flex;
    margin-top: 30%;
    margin-bottom: 5%;
    background-color: red;
    cursor: pointer;
    align-self: center;
}

main>.container-svg-scroll-bottom>svg {
    width: 60px;
    height: 37.5px;
    fill: #ffffff;
    align-self: center;
    position: absolute;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    animation: SvgScrollBottom 1.5s infinite;
}

@keyframes SvgScrollBottom {
    0% {
        margin-top: 0%;
    }

    50% {
        margin-top: 5%;
    }

    100% {
        margin-top: 0%;
    }
}

main>#objectives {
    width: 80%;
    display: flex;
    margin-top: 18%;
    padding-top: 10%;
    align-self: center;
    flex-direction: row;
}

main>#objectives>.line-and-balls {
    padding-top: 10%;
    width: max-content;
    padding-bottom: 10%;
}

main>#objectives>.line-and-balls>.line {
    width: 5px;
    height: 450px;
    display: flex;
    transition-duration: 0.1s;
    background-color: #ed2c2c;
    transition-timing-function: linear;
}

main>#objectives>.line-and-balls>.line>.ball-start, main>#objectives>.line-and-balls>.line>.ball-end, main>#objectives>.line-and-balls>.line>.ball-center {
    width: 20px;
    height: 20px;
    align-self: center;
    border-radius: 10px;
    background-color: #ed2c2c;
}

main>#objectives>.line-and-balls>.line>.ball-center {
    margin-top: auto;
    margin-bottom: auto;
}

main>#objectives>.texts {
    display: flex;
    padding-left: 10%;
}

main>#objectives>.texts>h2 {
    font-size: 6vw;
    color: #ffffff;
}

main>#objectives>.texts>h2>.highlighted {
    color: #ed2c2c;
}

main>#objectives>.texts>.center-container-text {
    display: flex;
    font-size: 4vw;
    color: #ffffff;
    margin-top: auto;
}

main>#objectives>.texts>.center-container-text>.highlighted {
    color: #ed2c2c;
}

main>#objectives>.texts>.bottom-container-text {
    font-size: 4vw;
    color: #ffffff;
    margin-top: auto;
}

main>#objectives>.texts>.bottom-container-text>.highlighted {
    color: #ed2c2c;
}

main>.container-repertoire-and-music-advisor {
    display: flex;
}

main>.container-repertoire-and-music-advisor>.lights {
    width: 100%;
    position: absolute;
}

main>.container-repertoire-and-music-advisor>.repertoire {
    display: flex;
    margin-top: 20%;
    align-self: center;
}

main>.container-repertoire-and-music-advisor>.repertoire>.title {
    width: 80%;
    font-size: 8vw;
    margin-top: 25%;
    color: #ffffff;
    font-weight: 500;
    align-self: center;
}

main>.container-repertoire-and-music-advisor>.repertoire>.title>.highlighted {
    color: #ed2c2c;
}

main>.container-repertoire-and-music-advisor>.repertoire>.description {
    width: 80%;
    font-size: 4vw;
    margin-top: 12%;
    color: #ffffff;
    align-self: center;
}

main>.container-repertoire-and-music-advisor>.repertoire>.description>.highlighted {
    color: #ed2c2c;
}

main>.container-repertoire-and-music-advisor>.music-advisor {
    display: flex;
    margin-top: 15%;
    margin-bottom: 10%;
}

main>.container-repertoire-and-music-advisor>.music-advisor>.title {
    font-size: 6vw;
    margin-top: 10%;
    color: #ed2c2c;
    text-align: center;
}

main>.container-repertoire-and-music-advisor>.music-advisor>.subtitle {
    margin-top: 2%;
    color: #ffffff;
    text-align: center;
}

main>.container-repertoire-and-music-advisor>.music-advisor>.photo-of-regent {
    width: 65%;
    margin-top: 5%;
    align-self: center;
}

main>.container-repertoire-and-music-advisor>.music-advisor>.description {
    width: 75%;
    margin-top: 2%;
    font-size: 4vw;
    color: #ffffff;
    text-align: center;
    align-self: center;
}

#about {
    display: flex;
    background-color: #ffffff;
}

#about>h2 {
    font-size: 6vw;
    margin-top: 8%;
    text-align: center;
}

#about>h2>.highlighted {
    color: #ed2c2c;
}

#about>.description {
    width: 73%;
    margin-top: 5%;
    font-size: 4vw;
    font-weight: 600;
    margin-bottom: 8%;
    text-align: center;
    align-self: center;
}

#about>.photo-of-choir {
    width: 80%;
    align-self: center;
}

#about>button {
    border: none;
    display: flex;
    padding: 4% 6%;
    margin-top: 5%;
    cursor: pointer;
    align-self: center;
    margin-bottom: 20%;
    border-radius: 35px;
    transition-duration: 0.1s;
    background-color: #ed2c2c;
    transition-timing-function: linear;
}

#about>button:hover {
    opacity: 0.8;
}

#about>button>span {
    color: #ffffff;
}

main>.companies {
    display: flex;
}

main>.companies>.light-red {
    width: 100%;
    position: absolute;
}

main>.companies>h2 {
    width: 70%;
    font-size: 6vw;
    margin-top: 25%;
    color: #ffffff;
    margin-bottom: 5%;
    align-self: center;
    text-align: center;
}

main>.companies>h2>.highlighted {
    color: #ed2c2c;
}

main>.companies>.companies-logos {
    width: 80%;
    display: grid;
    align-self: center;
    grid-template-columns: repeat(2, 1fr);
}

main>.companies>.companies-logos>img {
    width: 70%;
    margin: 5%;
    align-self: center;
    justify-self: center;
}

main>.companies>.description {
    width: 80%;
    font-size: 4vw;
    margin-top: 10%;
    color: #ffffff;
    align-self: center;
    text-align: center;
}