* {
    margin: 0;
    padding: 0;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    background-color: #000000;
}

header {
    display: flex;
    padding-top: 5%;
}

header>span {
    font-size: 3vw;
    color: #ffffff;
    margin-bottom: 2%;
    align-self: center;
}

main {
    display: flex;
    padding-top: 12%;
}

main>img {
    align-self: center;
}

main>h1 {
    width: 80%;
    font-size: 6vw;
    margin-top: 20%;
    color: #ffffff;
    text-align: center;
    align-self: center;
    font-weight: bolder;
}

main>h1>.highlighted {
    color: #ed2c2c;
}

main>button {
    border: none;
    display: flex;
    padding: 4% 6%;
    cursor: pointer;
    margin-top: 20%;
    color: #ffffff;
    align-self: center;
    border-radius: 35px;
    transition-duration: 0.1s;
    background-color: #ed2c2c;
    transition-timing-function: linear;
}

main>button:hover {
    opacity: 0.8;
}

main>button>span {
    font-size: 3.8vw;
    align-self: center;
}

main>svg {
    width: 83.25px;
    height: 51.75px;
    fill: #ffffff;
    align-self: center;
    transition-duration: 0.1s;
    position: absolute;
    top: 52%;
    transition-timing-function: linear;
    animation: svgScrollBottom 1s infinite;
}

@keyframes svgScrollBottom {
    0% {
        margin-top: 0%;
    }

    100% {
        margin-top: 10%;
    }
}

main>.objectives {
    width: 80%;
    margin-top: 40%;
    align-self: center;
    margin-bottom: 20%;
}

main>.objectives>.line-and-balls {
    width: fit-content;
}

main>.objectives>.line-and-balls>.line {
    width: 5px;
    height: 400px;
    display: flex;
    transition-duration: 0.1s;
    background-color: #ed2c2c;
    transition-timing-function: linear;
}

main>.objectives>.line-and-balls>.line>.ball-start, main>.objectives>.line-and-balls>.line>.ball-end, main>.objectives>.line-and-balls>.line>.ball-center {
    width: 20px;
    height: 20px;
    align-self: center;
    border-radius: 10px;
    background-color: #ed2c2c;
}

main>.objectives>.line-and-balls>.line>.ball-center {
    margin-top: auto;
    margin-bottom: auto;
}